genetIC/src/*.o
genetIC/src/tools/progress/*.o
genetIC/src/tools/*.o


genetIC/IC
genetIC/IC.dSYM

genetIC/IC.dSYM
genetIC/IC.dSYM

genetIC/example/iso/
genetIC/example/no_iso/


cmake-build-debug/
.idea/
example/iso/grid-0.npy
example/iso/grid-1.npy
example/iso/grid-info-0.txt
example/iso/grid-info-1.txt
example/iso/test_0.ps
example/iso/test_1.ps
example/iso/whitenoise-0.npy
example/iso/whitenoise-1.npy
example/iso/whitenoise-info-0.txt
example/iso/whitenoise-info-1.txt
example/iso/.ipynb_checkpoints/grid-info-0-checkpoint.txt
example/iso/.ipynb_checkpoints/grid-info-1-checkpoint.txt
example/iso/test.grafic_128/ic_deltab
example/iso/test.grafic_128/ic_deltac
example/iso/test.grafic_128/ic_massc
example/iso/test.grafic_128/ic_particle_ids
example/iso/test.grafic_128/ic_poscx
example/iso/test.grafic_128/ic_poscy
example/iso/test.grafic_128/ic_poscz
example/iso/test.grafic_128/ic_pvar_00001
example/iso/test.grafic_128/ic_refmap
example/iso/test.grafic_128/ic_velbx
example/iso/test.grafic_128/ic_velby
example/iso/test.grafic_128/ic_velbz
example/iso/test.grafic_128/ic_velcx
example/iso/test.grafic_128/ic_velcy
example/iso/test.grafic_128/ic_velcz
example/iso/test.grafic_192/ic_deltab
example/iso/test.grafic_192/ic_deltac
example/iso/test.grafic_192/ic_massc
example/iso/test.grafic_192/ic_particle_ids
example/iso/test.grafic_192/ic_poscx
example/iso/test.grafic_192/ic_poscy
example/iso/test.grafic_192/ic_poscz
example/iso/test.grafic_192/ic_pvar_00001
example/iso/test.grafic_192/ic_refmap
example/iso/test.grafic_192/ic_velbx
example/iso/test.grafic_192/ic_velby
example/iso/test.grafic_192/ic_velbz
example/iso/test.grafic_192/ic_velcx
example/iso/test.grafic_192/ic_velcy
example/iso/test.grafic_192/ic_velcz
example/iso/test.grafic_256/ic_deltab
example/iso/test.grafic_256/ic_deltac
example/iso/test.grafic_256/ic_massc
example/iso/test.grafic_256/ic_particle_ids
example/iso/test.grafic_256/ic_poscx
example/iso/test.grafic_256/ic_poscy
example/iso/test.grafic_256/ic_poscz
example/iso/test.grafic_256/ic_pvar_00001
example/iso/test.grafic_256/ic_refmap
example/iso/test.grafic_256/ic_velbx
example/iso/test.grafic_256/ic_velby
example/iso/test.grafic_256/ic_velbz
example/iso/test.grafic_256/ic_velcx
example/iso/test.grafic_256/ic_velcy
example/iso/test.grafic_256/ic_velcz
example/iso/test.grafic_384/ic_deltab
example/iso/test.grafic_384/ic_deltac
example/iso/test.grafic_384/ic_massc
example/iso/test.grafic_384/ic_particle_ids
example/iso/test.grafic_384/ic_poscx
example/iso/test.grafic_384/ic_poscy
example/iso/test.grafic_384/ic_poscz
example/iso/test.grafic_384/ic_pvar_00001
example/iso/test.grafic_384/ic_refmap
example/iso/test.grafic_384/ic_velbx
example/iso/test.grafic_384/ic_velby
example/iso/test.grafic_384/ic_velbz
example/iso/test.grafic_384/ic_velcx
example/iso/test.grafic_384/ic_velcy
example/iso/test.grafic_384/ic_velcz
example/iso/test.grafic_64/ic_deltab
example/iso/test.grafic_64/ic_deltac
example/iso/test.grafic_64/ic_massc
example/iso/test.grafic_64/ic_particle_ids
example/iso/test.grafic_64/ic_poscx
example/iso/test.grafic_64/ic_poscy
example/iso/test.grafic_64/ic_poscz
example/iso/test.grafic_64/ic_pvar_00001
example/iso/test.grafic_64/ic_refmap
example/iso/test.grafic_64/ic_velbx
example/iso/test.grafic_64/ic_velby
example/iso/test.grafic_64/ic_velbz
example/iso/test.grafic_64/ic_velcx
example/iso/test.grafic_64/ic_velcy
example/iso/test.grafic_64/ic_velcz
example/iso/test.grafic_768/ic_deltab
example/iso/test.grafic_768/ic_deltac
example/iso/test.grafic_768/ic_massc
example/iso/test.grafic_768/ic_particle_ids
example/iso/test.grafic_768/ic_poscx
example/iso/test.grafic_768/ic_poscy
example/iso/test.grafic_768/ic_poscz
example/iso/test.grafic_768/ic_pvar_00001
example/iso/test.grafic_768/ic_refmap
example/iso/test.grafic_768/ic_velbx
example/iso/test.grafic_768/ic_velby
example/iso/test.grafic_768/ic_velbz
example/iso/test.grafic_768/ic_velcx
example/iso/test.grafic_768/ic_velcy
example/iso/test.grafic_768/ic_velcz
example/iso/test.grafic_96/ic_deltab
example/iso/test.grafic_96/ic_deltac
example/iso/test.grafic_96/ic_massc
example/iso/test.grafic_96/ic_particle_ids
example/iso/test.grafic_96/ic_poscx
example/iso/test.grafic_96/ic_poscy
example/iso/test.grafic_96/ic_poscz
example/iso/test.grafic_96/ic_pvar_00001
example/iso/test.grafic_96/ic_refmap
example/iso/test.grafic_96/ic_velbx
example/iso/test.grafic_96/ic_velby
example/iso/test.grafic_96/ic_velbz
example/iso/test.grafic_96/ic_velcx
example/iso/test.grafic_96/ic_velcy
example/iso/test.grafic_96/ic_velcz
example/no_iso/grid-0.npy
example/no_iso/grid-1.npy
example/no_iso/grid-info-0.txt
example/no_iso/grid-info-1.txt
example/no_iso/test_0.ps
example/no_iso/test_1.ps
example/no_iso/.ipynb_checkpoints/grid-info-0-checkpoint.txt
example/no_iso/.ipynb_checkpoints/grid-info-1-checkpoint.txt
example/no_iso/test.grafic_128/ic_deltab
example/no_iso/test.grafic_128/ic_deltac
example/no_iso/test.grafic_128/ic_massc
example/no_iso/test.grafic_128/ic_particle_ids
example/no_iso/test.grafic_128/ic_poscx
example/no_iso/test.grafic_128/ic_poscy
example/no_iso/test.grafic_128/ic_poscz
example/no_iso/test.grafic_128/ic_pvar_00001
example/no_iso/test.grafic_128/ic_refmap
example/no_iso/test.grafic_128/ic_velbx
example/no_iso/test.grafic_128/ic_velby
example/no_iso/test.grafic_128/ic_velbz
example/no_iso/test.grafic_128/ic_velcx
example/no_iso/test.grafic_128/ic_velcy
example/no_iso/test.grafic_128/ic_velcz
example/no_iso/test.grafic_192/ic_deltab
example/no_iso/test.grafic_192/ic_deltac
example/no_iso/test.grafic_192/ic_massc
example/no_iso/test.grafic_192/ic_particle_ids
example/no_iso/test.grafic_192/ic_poscx
example/no_iso/test.grafic_192/ic_poscy
example/no_iso/test.grafic_192/ic_poscz
example/no_iso/test.grafic_192/ic_pvar_00001
example/no_iso/test.grafic_192/ic_refmap
example/no_iso/test.grafic_192/ic_velbx
example/no_iso/test.grafic_192/ic_velby
example/no_iso/test.grafic_192/ic_velbz
example/no_iso/test.grafic_192/ic_velcx
example/no_iso/test.grafic_192/ic_velcy
example/no_iso/test.grafic_192/ic_velcz
example/no_iso/test.grafic_256/ic_deltab
example/no_iso/test.grafic_256/ic_deltac
example/no_iso/test.grafic_256/ic_massc
example/no_iso/test.grafic_256/ic_particle_ids
example/no_iso/test.grafic_256/ic_poscx
example/no_iso/test.grafic_256/ic_poscy
example/no_iso/test.grafic_256/ic_poscz
example/no_iso/test.grafic_256/ic_pvar_00001
example/no_iso/test.grafic_256/ic_refmap
example/no_iso/test.grafic_256/ic_velbx
example/no_iso/test.grafic_256/ic_velby
example/no_iso/test.grafic_256/ic_velbz
example/no_iso/test.grafic_256/ic_velcx
example/no_iso/test.grafic_256/ic_velcy
example/no_iso/test.grafic_256/ic_velcz
example/no_iso/test.grafic_384/ic_deltab
example/no_iso/test.grafic_384/ic_deltac
example/no_iso/test.grafic_384/ic_massc
example/no_iso/test.grafic_384/ic_particle_ids
example/no_iso/test.grafic_384/ic_poscx
example/no_iso/test.grafic_384/ic_poscy
example/no_iso/test.grafic_384/ic_poscz
example/no_iso/test.grafic_384/ic_pvar_00001
example/no_iso/test.grafic_384/ic_refmap
example/no_iso/test.grafic_384/ic_velbx
example/no_iso/test.grafic_384/ic_velby
example/no_iso/test.grafic_384/ic_velbz
example/no_iso/test.grafic_384/ic_velcx
example/no_iso/test.grafic_384/ic_velcy
example/no_iso/test.grafic_384/ic_velcz
example/no_iso/test.grafic_64/ic_deltab
example/no_iso/test.grafic_64/ic_deltac
example/no_iso/test.grafic_64/ic_massc
example/no_iso/test.grafic_64/ic_particle_ids
example/no_iso/test.grafic_64/ic_poscx
example/no_iso/test.grafic_64/ic_poscy
example/no_iso/test.grafic_64/ic_poscz
example/no_iso/test.grafic_64/ic_pvar_00001
example/no_iso/test.grafic_64/ic_refmap
example/no_iso/test.grafic_64/ic_velbx
example/no_iso/test.grafic_64/ic_velby
example/no_iso/test.grafic_64/ic_velbz
example/no_iso/test.grafic_64/ic_velcx
example/no_iso/test.grafic_64/ic_velcy
example/no_iso/test.grafic_64/ic_velcz
example/no_iso/test.grafic_768/ic_deltab
example/no_iso/test.grafic_768/ic_deltac
example/no_iso/test.grafic_768/ic_massc
example/no_iso/test.grafic_768/ic_particle_ids
example/no_iso/test.grafic_768/ic_poscx
example/no_iso/test.grafic_768/ic_poscy
example/no_iso/test.grafic_768/ic_poscz
example/no_iso/test.grafic_768/ic_pvar_00001
example/no_iso/test.grafic_768/ic_refmap
example/no_iso/test.grafic_768/ic_velbx
example/no_iso/test.grafic_768/ic_velby
example/no_iso/test.grafic_768/ic_velbz
example/no_iso/test.grafic_768/ic_velcx
example/no_iso/test.grafic_768/ic_velcy
example/no_iso/test.grafic_768/ic_velcz
example/no_iso/test.grafic_96/ic_deltab
example/no_iso/test.grafic_96/ic_deltac
example/no_iso/test.grafic_96/ic_massc
example/no_iso/test.grafic_96/ic_particle_ids
example/no_iso/test.grafic_96/ic_poscx
example/no_iso/test.grafic_96/ic_poscy
example/no_iso/test.grafic_96/ic_poscz
example/no_iso/test.grafic_96/ic_pvar_00001
example/no_iso/test.grafic_96/ic_refmap
example/no_iso/test.grafic_96/ic_velbx
example/no_iso/test.grafic_96/ic_velby
example/no_iso/test.grafic_96/ic_velbz
example/no_iso/test.grafic_96/ic_velcx
example/no_iso/test.grafic_96/ic_velcy
example/no_iso/test.grafic_96/ic_velcz
